<?xml version="1.0" ?>
<robot name="differential_drive_robot">

  <link name="base_link">
    <inertial>
      <origin xyz="-0.00742972 0.00437318 0.0154363" rpy="0 0 0"/>
      <mass value="0.731356"/>
      <inertia ixx="0.0108432" ixy="0.0" ixz="0.0" iyy="0.0114559" iyz="0.0" izz="0.0200515"/>
    </inertial>

    <visual>
      <origin xyz="-0.0103376 0.00432315 -0.0155639" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://assets/base_link.stl"/>
      </geometry>
      <material name="base_link_material">
        <color rgba="0.898039 0.792157 0.619608 1"/>
      </material>
    </visual>

    <collision>
      <origin xyz="-0.0103376 0.00432315 0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.20 0.15 0.06"/> 
      </geometry>
    </collision>

    <visual>
      <origin xyz="-0.0103376 0.00432315 0.0984361" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://assets/font_ultra_1.stl"/>
      </geometry>
    </visual>
  </link>

  <gazebo reference="base_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <material>Gazebo/Grey</material>
  </gazebo>

</robot>